.main-border {
    background-color: peachpuff;
    padding: 30px;
}

body {
    background-color: darkred;
    padding: 0px 30px;
    font-family: Georgia;
    font-weight: 50px;
}

.body {
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 80px;
    border-bottom: dashed #3f2c20 5px;
    padding-bottom: 5px;
}

.img {
    display: block;
    width: 350px;
    height: auto;
}

#img-one {
    width: 300px;
    height: 400px;   
    display: inline-block;
}

.author-note {
    background-color: #FFE9D3;
    font-size: 20px;
    border: solid #3f2c20 10px;
    padding: 8px 10px;
}

.recipe-links {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
}


.links-heading {
    margin-bottom: 200px;
}

.link-space {
    margin: 20px;
}

.description {
    display: block;
    margin-left: 500px;
    margin-top: -400px;
    margin-bottom: 350px;  
    font-size: 23px;
}

.split-page {
    border-bottom: dashed #3f2c20 2px;
}

h3 {
    font-size: 30px;
}

.ingredients {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: dashed #3f2c20 2px;
    display: block;

}